<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bruno</title>
  </head>
  <body>
    <h1>contact</h1>
    <p>
      Bruno likes to chat most weekdays (except Thursday) between 10am and noon.
      Stop by Sugarbean Farm during those hours, but be prepared to wait in
      line.
    </p>
  </body>
</html>
