<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <div class="center jumbotron">
    <div class="container">
    <body>
    <h1>Bruno#</h1>
    <h2>
      <div>
        Bruno is a grumpy rooster. "How grumpy?" you ask?....stay tuned.
      </div>
    </h2>
    </body>
    </div>

  </div>
</html>
