<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <div class="center jumbotron">
    <head>
      <title><%= yield(:title) %> | Bruno</title>
    </head>
    <body>
      <h1>Bruno#!</h1>
      <p>
        Bruno is a grumpy rooster. "How grumpy?" you ask?....stay tuned.
      </p>
    </body>
  </div>
</html>
